.superContainer {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    color: black;
}

.leftContainer {
    width: 65%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.rightContainer {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.earlyBirdContainer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    gap: 6px;
}

.earlyBird {
    font-size: 18px;
    font-weight: 450;
}


.productImage {
    width: 170px;
    height: 170px;
    margin-right: 20px;
    border-radius: 3px;
}


.productTitle {
    font-size: 20px;
    font-weight: bold;
    color: black;
}


.productContainer {
    display: flex;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
}

.priceSection {
    gap: 8px;
    display: flex;
}

.price {
    font-size: 20px;
    font-weight: bold;

}

.ogPrice {
    font-size: 20px;
    color: grey;
    text-decoration: line-through;
}

.off {
    font-size: 20px;
    color: green;
}



.quantity {
    font-size: 20px;
    font-weight: 450;
    margin-left: 8px;
    margin-right: 8px;
    width: 30px;
    align-items: center;
    text-align: center;
}

.qtyBtn {
    display: flex;
    align-items: center;
}

.qtyButton {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;




}

.rgtContainer {

    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    padding-top: 0px;

}

.secure {

    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 0px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.rgtContainer h3 {
    font-size: 18px;
    font-weight: 400;
    color: black;
    /* margin-top:-10px; */
    line-height: 18px;
}




.upparLabel {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
}

.upparLabel h2 {

    font-weight: 550;
}

.upparLabel h3 {
    color: #9F5BE4;
    font-weight: 480;
    cursor: pointer;
}


.couponContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 45px;
}


.couponInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.couponInput:focus {
    outline: none;
    border: 1px solid #9F5BE4;
}

.applyCoupon {
    padding: 10px;
    background-color: #9F5BE4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100px;
    display: flex;
}

.applyCoupon p {
    font-weight: 450;
    font-size: 18px;
    text-align: center;

}

.somecode {
    border-style: dashed;
    border-width: 0px;
    border-color: #9F5BE4;
    padding-top: -10px;
    padding-bottom: -10px;
    border-radius: 6px;
    margin-top: 20px;
}

.somecode p {
    margin: 0px;

}

.billItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.billItem p {
    font-size: 18px;
    font-weight: 400;
    color: #909090;
    margin: 0px;
    padding: 0px;
}


.payButton {
    font-size: 22px;
    color: #4A4A4A;
    font-weight: 600;
    border-top: 1.5px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -15px;
}

.playButton p {
    margin: 0px;
}

.price {
    font-size: 22px;
    font-weight: 800;
}

.payButton button {
    padding-left: 20px;
    padding-right: 20px;
    padding: 13px;
    background-color: #9F5BE4;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 150px;
    font-size: 18px;
    font-weight: 600;

}




@media (max-width:768px) {
    .superContainer {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .rightContainer {
        width: 100%;
        /* display: none; */
    }


    .leftContainer {
        width: 100%;
    }


    .productImage {
        width: 140px;
        height: 140px;
    }


    .priceSection {
        gap: 8px;
        display: flex;
        flex-direction: column;
    }


}