.superContainer {
    background-color: #F8F8F8;
    color: black;
    margin: 0px;
    padding: 0px;
    padding-left: 60px;
    padding-right: 60px;
}

/* Early Bird Offer Container */
.earlyBirdContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    gap: 6px;
    filter: drop-shadow(rgba(0, 0, 0, 0.04) 0px 2px 8px);
    margin-top: 20px;
}

.earlyBird {
    font-size: 18px;
    font-weight: 450;
}

/* Right Card Headings and Description */
.rgtCardHeading {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    text-transform: uppercase;
}

.rgtCardDesc {
    font-size: 14px;
    text-align: left;
    color: grey;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

/* Information container */
.informationCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.lftInfoCont {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rgtDesc {
    font-weight: 550;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

/* Price card container */
.priceCardCont h2 {
    margin: 0px;
    padding: 0px;
}

.priceCardCont span {
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.priceCardCont .priceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceCardCont p {
    text-align: center;
}

/* Section layout */
.sectionCont {
    display: flex;
    gap: 30px;
}

.lftSecCont {
    width: 70%;
}

.rgtSecCont {
    width: 30%;
    margin-top: 20px;
}

/* Padding with Border */
.paddingWithBorderParent {
    border-radius: 10px;
    filter: drop-shadow(rgba(0, 0, 0, 0.04) 0px 2px 8px);
    margin-top: 20px;
    background-color: white;
}

.paddingWithBorder {
    background-color: white;
    padding: 1rem;
}


.trmsCont {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    filter: drop-shadow(rgba(0, 0, 0, 0.04) 0px 2px 8px);
    margin: 20px 0;
}

.trmsCont p{
    color: grey;
    font-size: 13px;
    line-height: 1.5;
    width: 90%;
    margin: 0px;
    padding: 0px;
}


.borderImage {
    width: 100%;
    padding: 0 -4.25rem;
    opacity: 0.4;
    height: 50px;
    background-repeat: repeat-x;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/oojus-ad231.appspot.com/o/tour-packages%2FborderImage2.png?alt=media&token=2df6065e-d7b3-4e2e-a54a-f36dcbb69597");
    background-size: contain;
    margin-top: 20px;
    opacity: 0.4;
    border-radius: 10px 10px 0 0;

}

/* Input fields */
.inputGroup {
    margin-bottom: 20px;
}

.labelHeader {
    color: #7A7A7A;
    margin-bottom: -10px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.labelHeaderTxt {
    margin: 0px;
    z-index: 100;
    position: relative;
    background-color: white;
    padding: 0px 10px;
}

.inputContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    padding: 10px;
    border-width: 1px;
    border: 2px solid #ddd;
    z-index: 0;
    border-radius: 10px;
}

.inputContainer:focus-within {
    border: 2px solid #ccc;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
}



/* selecting journey date */
.horizontalScroll {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}


.cabListContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-between;
    margin: 0 10px;

    width: 60%;
}


.couponContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 45px;
    margin: 1rem 0;
}


.couponInput {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.couponInput:focus {
    outline: none;
    border: 2px solid #9F5BE4;
}




.payButton {
    font-size: 22px;
    color: #4A4A4A;
    font-weight: 600;
    border-top: 1.5px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: -16px;
}

.playButton p {
    margin: 0px;
}

.price {
    font-size: 22px;
    font-weight: 800;
}

.payButton button {
    padding-left: 20px;
    padding-right: 20px;
    padding: 13px;
    background-color: #78006e;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 150px;
    font-size: 16px;
    font-weight: 600;

}


.secure {
    margin: -16px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 10px;

}