.bdContainer {
    border: 1px solid #dee2e6 !important;
    border-radius: 15px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
    background-color: white;
    display: flex;
    align-items: center;
}

.bdContainer a {
    color: #F26414 !important;
    font-weight: 500;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .bdContainer {
        margin: 0 10px;
        margin-top: 10px;
        padding: 10px 10px;
        border-radius: 10px;
    }

    .bdContainer a{
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

}