.carouselItem {
    display: flex;
    flex-direction: column;
    width: 120px;
    background-color: white;
    margin: 0;
}


.heading {
    color: black;
}

.nameContainer {
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    margin-top: 0.5rem;
}

.name {
    font-size: 1rem;
    line-height: 1.2rem;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nameContainer {}

.carouselContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: auto;
}

.image {
    cursor: pointer;
    transition: 0.5s;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 0 auto;
}

.superCont {
    margin: 1rem 4.25rem;
}


@media (max-width: 768px) {
    .carouselContainer {
        overflow-x: scroll;
        gap: 15px;
        margin: 0 -10px;
    }

    .superCont {
        margin: 0 10px;
    }

    .heading {
        font-size: 1.3rem;
    }

    .image {
        width: 90px;
        height: 90px;
    }

    .image:hover {
        transform: scale(1);
    }

    .marginLeft {
        margin-left: 10px;
    }
}