.superCont {
    /* Optional: margin-bottom if needed */
  }
  
  .card {
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    width: 300px;
    height: 220px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
  }
  
  .dimensionalCard {
    width: 240px;
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(
      rgba(27, 30, 36, 0) 0%,
      rgb(27, 30, 36) 84.21%
    );
  }
  
  .title,
  .dimensionalTitle {
    color: white;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 15px;
    margin: 0;
  }
  
  .dimensionalTitle {
    font-size: 18px;
    padding-left: 12px;
    padding-bottom: 11px;
  }
  
  .name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
    margin: 0;
  }
  
  .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-weight: 500;
  }
  
  .ratingText {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
    margin: 0;
  }
  
  .price {
    font-weight: 700;
    font-size: 22px;
    color: rgba(2, 6, 12, 0.92);
    margin: 0;
  }
  
  .discount {
    font-weight: 600;
    font-size: 22px;
    color: #858080;
    text-decoration: line-through;
    padding-left: 10px;
    margin: 0;
  }
  
  .details {
    margin: 10px 0;
  }
  
  .detailsDimension {
    width: 240px;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .details {
      overflow: hidden;
    }
  
    .detailsDimension {
      width: 240px;
      background-color: red;
    }
  
    .superCont {
      width: 240px;
    }
  
    .card {
      /* width: 220px;
      height: 180px; */
      width: 13rem;
      height: 10rem;
      margin-top: 1rem;
    }
  
    .details {
      display: flex;
      flex-direction: column;
      width: 200px;
      flex: 1;
    }
  
    .detailsDimension {
      width: 160px;
      height: 130px;
      margin: 0;
      padding: 0;
    }
  
    .price,
    .discount {
      font-size: 1.25rem;
    }
  }