.superCont {
    /* margin-bottom: 10px; */
}

.card {
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    width: 300px;
    height: 220px;

    
  
    overflow: hidden;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.dimensionalCard{
    width: 240px;
    height: 180px;

    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 16px;
    overflow: hidden;

  
    overflow: hidden;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px;
    /* height: 80px; */
    height: 60px;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
}

.title {
    margin: 0px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 15px;
}

.dimensionalTitle {
    margin: 0px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 12px;
    padding-bottom: 11px;
}

.name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
    margin: 0px
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    font-weight: 500;
}

.ratingText {

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
    margin: 0px
}

.price {
    font-weight: 700;
    font-size: 22px;
    color: rgba(2, 6, 12, 0.92);
    margin: 0px
}

.discount {
    font-weight: 600;
    font-size: 22px;
    color: #858080;
    text-decoration: line-through;
    padding-left: 10px;
    margin: 0px
}

.details {
    margin: 10px 0px;
}

.detailsDimension{
    width: 240px;
}




@media (max-width: 768px) {

    .card{
        width: 270px;
        height: 200px;
    }

    .rating{
        gap: 5px;
    }
  }