/* Super Container (Overall Page Container) */
.superContainer {
    background-color: #F8F8F8;
    color: black;
    margin: 0px;
    padding: 0px;
    padding-left: 60px;
    padding-right: 60px;
}

/* Title and Descriptions */
.title {
    color: black;
    line-height: 70px;
    font-size: 60px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 0.5rem;
}

.desc {
    color: rgba(0, 0, 0, 0.792);
    line-height: 1.5;
    font-size: 16px;
}

.heading {
    padding: 10px 0;
}

/* Section Layout */
.sectionCont {
    display: flex;
    gap: 30px;
}

.lftSecCont {
    width: 70%;
}

.rgtSecCont {
    width: 30%;
    margin-top: 20px;
}

/* Overview Section */
.overViewCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overIconsFlex {
    display: flex;
    gap: 10px;
}

.overViewIcon {
    background-color: white;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.04) 0px 2px 8px);
}

/* Right Card Section */
.rgtCardHeading {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    text-transform: uppercase;
}

.rgtCardDesc {
    font-size: 14px;
    text-align: left;
    color: grey;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

.informationCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.lftInfoCont {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rgtDesc {
    font-weight: 550;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

/* Table of Content */
.tableContent {
    width: 100%;
    margin-bottom: 48px;
    padding: 1rem;
}

.underLineBlock {
    background-color: #79006E;
    width: 50px;
    height: 3.5px;
    margin: 5px 0;
}

.listItem {
    margin: 10px 0;
}

.listItem a:hover {
    text-decoration: underline;
}

.listItem span {
    color: #79006E;
    font-weight: 550;
    margin-right: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .superContainer {
        padding: 0 10px;
    }

    .title {
        font-size: 40px;
        line-height: 1.2;
    }

    .sectionCont {
        flex-direction: column;
    }

    .lftSecCont,
    .rgtSecCont {
        width: 100%;
    }

    .overIconsFlex {
        justify-content: space-around;
    }

    .rgtCardDesc {
        font-size: 13px;
    }

    .rgtCardHeading {
        font-size: 12px;
    }

    .tableContent{
        display: none;
    }
}