
.sliderCarousel {
  object-fit: cover;
  background-size: cover;
  min-height: 21.375rem;
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  position: relative;
}

.navContainer{
  display: flex;
  padding: 0 4.25rem;
  height: 5rem;
  background-color: transparent;
  position: sticky;
  top: 0;
  margin-bottom: -100px;
  z-index: 1000;

}



.flexCont{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.rgtCont{
  display: flex;
  align-items: center;
}


.navItem{
  padding: .38rem 1rem;
  border-radius: 40px;
  transition: 0.5s;
  font-size: 16px;
  margin: 0 0.3rem;
  justify-content: center;
  align-items: center;
}

.navIcon{
  border-radius: 100px;
  transition: 0.5s;
  margin-right: 10px;


}
.navIcon:hover{
  background-color: #ffffff32;
}

.navItem:hover{
  background-color: #ffffff32;
}

.icon{
  background-color: red;
  vertical-align: middle;
}

