.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%; /* Ensure the slide takes up the full height */
  background-size: cover;
  background-position: center;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}