.container {
    padding: 0 4.25rem;
    background-color: white;
    padding-bottom: 100px;
}

.heading {
    font-size: 1.75rem;
    color: #222;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 3rem;
}

.visit{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* column-gap: 5rem; */
    /* row-gap: 3rem; */
}
