.imageCont {
  width: 164px;
  height: 164px;
  border-radius: 82px;
  background: #eaebed;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  color: transparent;
  width: 90%;
  height: auto;
  transition: 0.3s;
  cursor: pointer;
}

.image:hover {
  width: 100%;
}

.title {
  font-size: 1.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1.25rem;
  color: #6d6d6d;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 768px) {
  .imageCont {
    width: 81px;
    height: 81px;
  }

  .image {
    width: 81px;
    height: 81px;
  }

  .title {
    font-size: 12px;
    color: #6d6d6d;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
  }
}
