.productContainer {
    display: flex;
    flex-direction: row;
    padding: 16px;
    background-color: #fff;

  }
  
  .imageCarousel {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 16px;
  }
  
  .productImage {
    /* max-width: 100%; */
    margin-right: 8px;
    border-radius: 4px;
    width: 475px;
    height: 475px;
  }
  
  .productDetails {
    margin-bottom: 16px;
    color: black;
  }
  
  .productTitle {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  
  .ratingAndReviews {
    display: flex;
    align-items: center;
    margin: 8px 0;
    color: black;
  }
  
  .rating {
    color: #ffa41c; /* Keep the star rating in its original color */
    margin-right: 4px;
  }
  
  .reviews {
    color: black;
  }
  
  .priceSection {
    display: flex;
    align-items: center;
    color: black;
  }
  
  .discountedPrice {
    font-size: 24px;
    font-weight: bold;
    margin-right: 8px;
    color: black;
  }
  
  .originalPrice {
    text-decoration: line-through;
    color: black;
    margin-right: 8px;
  }
  
  .discountPercentage {
    color: black;
  }
  
  .stockInfo {
    margin: 8px 0;
    color: black;
  }
  
  .buyOptions button {
    background-color: #ffd814;
    border: none;
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
    color: black;
  }
  
  .buyOptions .buyNow {
    background-color: #ffa41c;
  }
  
  .productSpecifications h2 {
    margin: 16px 0 8px;
    color: black;
  }
  
  .productSpecifications ul {
    list-style: none;
    padding: 0;
    color: black;
  }
  
  .productSpecifications li {
    margin-bottom: 8px;
    color: black;
  }

  .visit {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 1rem;
}


.heading {
    font-size: 1.75rem;
    color: #222;
}