.souvenir {}

.heading {
    font-size: 1.75rem;
    color: #222;
}


.productsContainer {
    width: 80%;
}

.visit {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 1rem;
}

.sideFilters {
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    background-color: white;
    padding: 1rem;
    border-radius: 16px;
    margin-right: 1rem;
}

.feedContainer {
    display: flex;
    flex-direction: row;
}

.filterText {
    color: #222;
    font-size: 1.25rem;
}

.labels {
    font-size: 1rem;
    color: #222;
    margin: 10px;
}

.labelItem {
    margin: 10px;
}

.ratingContainer {
    margin: 10px;
    cursor: pointer;
}

.star {
    margin-right: 10px;

}

.feedContainer {
    margin: 1rem 1.25rem;
}


.bannerImage {
    width: 100%;
    height: 100px;
    border-radius: 0;
    margin: 0px;
    object-fit: cover;
}



@media (max-width: 768px) {

    .sideFilters {
        display: none;
    }

    .visit {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0;

        /* background-color: green; */
    }


    .productsContainer {
        width: 100%;
        /* background-color: red; */
    }


    .feedContainer {
        margin: 0;
        margin: 0 1rem;
        /* background-color: red; */
    }


}