.souvenir {}

.heading {
    font-size: 1.75rem;
    color: #222;
}


.margin {
    margin: 1rem 4.25rem;
}

.visit {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



@media (max-width: 768px) {
    .visit {}

    .heading {
        font-size: 1.3rem;
    }


    .margin {
        margin: 0;
        padding: 0;
    }

    .heading {
        margin-left: 10px;
    }
}